<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type='image/png' href="../static/img/ney.jpg">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

  <title>Document</title>
</head>

<body>

  <i class="bi bi-list-nested menu-mobile"></i>

  <aside id='header'>
    <section class="profile">
      <img src="../static/img/joaofrango.jpg" alt="Foto Joao Frango">
      <h1>Joao Frango</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.instagram.com/llerbach/">
          <i class="bi bi-instagram"></i>
        </a>

        <a target="_blank" href="https://www.facebook.com/lucas.lerbach">
          <i class="bi bi-facebook"></i>
        </a>
      </div>

    </section>

    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house" aria-hidden="true">
            </i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true">
            </i> Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true">
            </i> Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true">
            </i> Currículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true">
            </i> Portfólios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true">
            </i> Contato</a>
        </li>
      </ul>
    </nav>
  </aside>

  <main id="main">

    <section id="inicio" class="row m-0 p-0">
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">João Frango</h2>
        <span id="subtitle" class="text-white">surfista, vendedor e atleta</span>

      </div>

      <div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="arraste" class="d-flex align-items-center">
          <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"> </i>
          <a href="#sobre">Arraste para mais</a>
        </div>

      </div>

    </section>

    <section class="container mt-5" id="sobre">
      <div class="row-w-100">
        <div class="col-md-12">
          <h2 class='pt-3'>Sobre</h2>
          <p> Trabalho na praia, sou tanquilo e sereno, gosto de surfar e tomo conta do meu tio. Eu e o Cadu somos grandes amigos, gostamos de surfar e vamos dar o nosso melhor para provar que somos o melhor na nossa categoria.</p>
        </div>
      </div>

      <div class="row-mt-4">
        <div class="col-md-4">
          <img class="img-fluid" src="../static/img/joaofrango.jpg" alt="Foto João Frango">
        </div>
        <div class="col-md-8">
          <h3>Surfista</h3>
          <p>Atualmente sou um surfista, venho de Sheboyban em Wisconsin. Tenho como amigo o Cadu e idolo o Big Z.</p>

          <ul class="list-group">
            <li class="list-group-item">Fã do Big Z</li>
            <li class="list-group-item">Amigo do Cadu</li>
          </ul>
        </div>
      </div>

    </section>

    <section class="mt-5 section-bg" id="habilidades">

      <div class="container pb-5">
        <h2 class="pt-5">Habilidades</h2>
        <p>Adquiri a habilidade de surfar, de marolar e de fazer amizades. Segue grafico das minhas habilidades no surfe.</p>

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Aéreo</p>
              <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>           
               </div>
              <p class="mt-3 mb-0">360º</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div> 
              </div>
              <p class="mt-3 mb-0">Grab Rail</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div> 
              </div>
              <p class="mt-3 mb-0">Duck Dive</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 67%;" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">67%</div> 
              </div>
            </div>
            <div class="col-md-6">

            </div>
          </div>
      </div>
    </section>

    <section class="mt-5 cv" id="curriculo">
      <div class="container pb-5">
        <h2 class="pt-3 pb-4">Currículo</h2>

        <div class="row">
          <div class="col-md-6">
            <h3 class="cv-title">Educação</h3>
            <div class="cv-item">
              <h4>Curso de manobras voadoras</h4>
              <h5>2006 - 2007</h5>
              <p><em>Escola Brasileira de Surfe</em></p>
              <p>Aprendi como subir na prancha de surf e remada rapida</p>
            </div>

            <div class="cv-item">
              <h4>Técnico em Kitesurf</h4>
              <h5>2009 - 2010</h5>
              <p><em>Escola Brasileira de Surfe</em></p>
              <p>Aprendi a brincar no Kitesurf, juntando assim as tecnicas do surfe e kitesurf</p>
            </div>

            <div class="cv-item">
              <h4>Mestrado em passar parafina</h4>
              <h5>2005 - 2006</h5>
              <p><em>Escola Brasileira de Surfe</em></p>
              <p>Mestrado em como passar parafina para não escorregar na hora que estiver em cima da prancha</p>
            </div>

          </div>
          <div class="col-md-6">
            <h3 class="cv-title">Profissional</h3>
            <div class="cv-item">
              <h4>Professor de surfe</h4>
              <h5>2012 - 20015</h5>
              <p><em>Surfe Educa</em></p>
              <p>Empresa focada no ensino de surfe para crianças de até 12 anos</p>
            </div>

            <div class="cv-item">
              <h4>Vendedor </h4>
              <h5>2013 - 2014</h5>
              <p><em>Mar do Boqueirão</em></p>
              <p>Empresa especializada em vendas de itens para o surfe</p>
            </div>

            <div class="cv-item">
              <h4>Coordenador</h4>
              <h5>2006 - 2007</h5>
              <p><em>Mar do Boqueirão</em></p>
              <p>Empresa especializada em vendas de itens para o surfe</p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section id="portfolio" class= "section-bg mt-5">
      <div class="container pb-5 pt-5">

        <h2 class="pb-4">Portfolio</h2>

        <div id="carouselPortfolio" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card">
                    <img src="../static/img/joaofrangosurfando.jpg" class="card-img-top" alt="Eu dando aula">
                    <div class="card-body">
                      <h5 class="card-title">Ensinando aos alunos</h5>
                      <p class="card-text">Mostrando como se faz aos alunos</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/Com meus amigos.jpg" class="card-img-top" alt="Com meus amigos">
                    <div class="card-body">
                      <h5 class="card-title">A amizade é tudo</h5>
                      <p class="card-text">Faz a pose, olha o flash</p>
                    </div>
                  </div>
                </div>
                
              </div>

            </div>
            <div class="carousel-item">
             
            </div>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </section>

    <section id="contato" class="pt-5 pb-5" id="contato">
      <div class="container mb-5">
        <h2 class="pt-3 pb-3">Contato</h2>

        <div class="row">

          <div class="col-md-5">
            <div class="card p-5">
              <div class="endereco">
                <h4><i class="bi bi-geo-alt"></i>Localização:</h4>
                <p>Sheboyban, Wisconsin</p>
              </div>

              <div class="email">
                <h4><i class="bi bi-envepole"></i>Email:</h4>
                <p>Joaofrango@gmail.com</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7658043.459887564!2d-161.99936688189334!3d20.412595467630837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7bffdb064f79e005%3A0x4b7782d274cc8628!2zSGF2YcOtLCBFVUE!5e0!3m2!1spt-BR!2sbr!4v1639094955562!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100"></iframe>
            </div>
          </div>

          <div class="col-md-7">
            <div class="pd-5 h-100">

              <form class="row g-3">
                <div class="col-md-6">
                  <label for="nome" class="form-label">Nome:</label>
                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">Email:</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email">
                </div>

                <div class="col-12 d-flex justify-content-center">
                  <button type="submit" class="btn btn-outline-primary">Enviar</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

    </section>

  </main>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>

</html>